<% provide(:title, "Admin Manage Books") %>

<div class="container">
  <br />
  <div class="row align-items-center">
    <div class="col">
      <h1>Manage Books</h1>
    </div>
    <div class="col col-sm-3">
      <%= link_to 'Post a new book page', new_admin_book_page_path, class: 'btn btn-primary float-sm-right' %>
    </div>
  </div>
  <hr />
  <div class="row-align-items-start">
    <div class="books">
      <% @book_pages.rank(:row_order).each do |book_page| %>
        <% if book_page.page_number.to_i.zero? %>
          <div class="col-lg-4 book-cover" data-update-url=<%= admin_book_page_path(book_page) %>>
            <%= link_to image_tag(book_page.image, class: 'img-fluid'), admin_show_book_path(book_page) %>
            <br class="clear" />
            <%= book_page.book_title %>, <%= book_page.year.year %>
            <br />
            <%= book_page.dimensions %>
            <br />
            <%= link_to edit_admin_book_page_path(book_page), class: 'btn btn-warning' do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to admin_book_page_path(book_page), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' do %>
              <i class="fa fa-remove"></i>
            <% end %>
          </div>
          <br />
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.books').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { book_page: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
  </script>