<div class="container-fluid">
  <h1 class="text-center">2D WORKS</h1>
  <div class="row two-d">
    <% @works.two_d.rank(:row_order).each do |work| %>
      <div role="button" class="col-sm-3 two-d-work" data-toggle="modal" data-target="#modal-<%= work.id %>">
        <%= image_tag work.image, class: 'thumbnail img-fluid' %>
      </div>
      <!-- Modal fullscreen -->
      <div class="modal modal-fullscreen fade" id="modal-<%= work.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel<%= work.id %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <%= image_tag work.image, class: 'img-fluid full-image' %>
              <h4><%= work.title %>, <%= work.year.year %></h4>
              <h4><%= work.medium %></h4>
              <h4><%= work.dimensions %></h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>