<nav class="navbar navbar-toggleable-md navbar-admin">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">JESSE FARBER</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <%= link_to 'ADMIN HOME', admin_dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'POST WORKS', new_admin_work_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'POST BOOKS', new_admin_book_page_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'MANAGE WORKS', admin_works_path, class: "nav-link" %>
          </li>
           <li class="nav-item active">
            <%= link_to 'MANAGE BOOKS', admin_book_pages_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'POST RNL ISSUE', new_admin_rnl_issue_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'POST NEWS', new_admin_news_item_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto pull-right">
          <li class="nav-item">
            <%= link_to 'Main Site', artist_home_path, class: "nav-link admin" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: "nav-link admin" %>
          </li>
        </ul>
      </div>
    </nav>