<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse headline-nav">
  <div class="collapse navbar-collapse">
    <div class="headline-container">
        <h1 class="homeheader"><%= link_to 'JESSE FARBER', root_path %></h1>
        <hr class="thickline" />
    </div>
  </div>
</nav>
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse links-nav">
  <div class="collapse navbar-collapse noncollapsing">
    <ul class="list-inline navbar-nav navbar-center mt-2 mt-sm-0">
      <%# <li class="nav-item active home-link">
        <%= link_to root_path, class: 'nav-link' do %>
          <%# <i class="fa fa-home" aria-hidden="true"></i> %>
          <%# <br /> %>
          <%# <small>JF</small> %>
        <%# <% end %>
      <%# </li> %>
      <li class="nav-item active">
        <%= link_to two_d_works_path, class: 'nav-link' do %>
          <i class="fa fa-picture-o" aria-hidden="true"></i>
          <br />
          <small>2D</small>
        <% end %>
      </li>
      <li class="nav-item active">
       <%= link_to three_d_works_path, class: 'nav-link' do %>
          <i class="fa fa-cube" aria-hidden="true"></i>
          <br />
          <small>3D</small>
        <% end %>
      </li>
      <li class="nav-item active">
       <%= link_to books_path, class: 'nav-link' do %>
          <i class="fa fa-book" aria-hidden="true"></i>
          <br />
          <small>BK</small>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to audio_works_path, class: 'nav-link' do %>
          <i class="fa fa-volume-up" aria-hidden="true"></i>
          <br />
          <small>4D</small>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to rnl_path, class: 'nav-link' do %>
          <i class="fa fa-file-audio-o" aria-hidden="true"></i>
          <br />
          <small>5D</small>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to cv_path, class: 'nav-link' do %>
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          <br />
          <small>CV</small>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to news_path, class: 'nav-link' do %>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          <br />
          <small>NEWS</small>
        <% end %>
      </li>
<!--       <li class="nav-item active">
        <%= link_to root_path, class: 'nav-link' do %>
           <i class="fa fa-home" aria-hidden="true"></i>
          <br />
          <small>HOME</small>
        <% end %>
      </li> -->
    </ul>
  </div>
  <% if current_admin %>
    <div class="admin-links justify-content-center">
      <ul class="navbar-nav ml-auto mt-2 mt-sm-0">
        <li class="nav-item">
          <%= link_to 'Admin Dashboard', admin_dashboard_path, class: "nav-link admin" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: "nav-link admin" %>
        </li>
      </ul>
    </div>
  <% end %>
</nav>