<div class="navcontainer">  
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="navbar-header navbar-header-center">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-caret-down"></span>
      </button>
      <span class='navbar-brand'><%= link_to 'JESSE FARBER', root_path %></span>
      <br />
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <%= link_to artist_two_d_works_path, class: 'nav-link' do %>
              <i class="fa fa-picture-o" aria-hidden="true"></i>
              <br />
              <small>2D</small>
            <% end %>
          </li>
          <li class="nav-item active">
           <%= link_to artist_three_d_works_path, class: 'nav-link' do %>
              <i class="fa fa-cube" aria-hidden="true"></i>
              <br />
              <small>3D</small>
            <% end %>
          </li>
          <li class="nav-item active">
           <%= link_to artist_books_path, class: 'nav-link' do %>
              <i class="fa fa-book" aria-hidden="true"></i>
              <br />
              <small>BK</small>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to artist_audio_works_path, class: 'nav-link' do %>
              <i class="fa fa-volume-up" aria-hidden="true"></i>
              <br />
              <small>4D</small>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to artist_rnl_path, class: 'nav-link' do %>
              <i class="fa fa-file-audio-o" aria-hidden="true"></i>
              <br />
              <small>5D</small>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to artist_cv_path, class: 'nav-link' do %>
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <br />
              <small>CV</small>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to artist_news_path, class: 'nav-link' do %>
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
              <br />
              <small>NEWS</small>
            <% end %>
          </li>
          <% if current_admin %>
          <div class="navbar-header navbar-header-center">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to 'Admin Dashboard', admin_dashboard_path, class: "nav-link admin" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: "nav-link admin" %>
              </li>
            </ul>
          </div>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>