<% provide(:title, "5D") %>

<div class="container audio-container">
<br />
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="dark-on-light">∎ RNL ∎</h1>
      <br /><br />
    </div>
  </div>
  <br />
  <div class="row justify-content-center body-text">
    <p>RNL blah blah blah blah<br />
    </p>
  </div>
  <br /><br />
</div>

<div class="container">
    <div class="row-align-items-start">
        <% @rnl_issues.each do |issue| %>
          <div class="col-lg-12">
            <p><%= issue.issue_number %></p>
            <p><%= issue.title %></p>
            <p><%= issue.description %></p>
            <%= image_tag issue.cover_image %>
            <br />
            <%= image_tag issue.background_image %>
            </div>
        <% end %>
    </div>
</div>