<% provide(:title, "5D") %>

<div class="container artist-container">
  <br />
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ RNL ∎</h1>
      <br />
    </div>
  </div>

  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>
        RNL is a long-running collaborative project for experimental sound, art, 
        and ideas. Started in the early 1990s, it initially focused on homemade 
        tape experiments, collage flyers, and performative street actions. 
        None of this was thought of as “art” at the time&#151;they were simply weird 
        and interesting things to do. Little of the work was shared outside of 
        the handful of group members, some of whom never met each other, 
        or even realized they had participated.
        <br /><br />
        RNL has continued this model of open collaboration up to the present day. <br />
        <em>Conquering King Kong</em>, released on VONCONFLON in 2019, will be 
        RNL’s first publically available release.
      </p>
    </div>
  </div>

  <br /><br /><br />

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ CURRENT RELEASES ∎</h1>
      <br />
    </div>
  </div>

  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>LINK COMING SOON...
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 iframe-holder">
      <%# <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=438870672/size=large/bgcol=333333/linkcol=4ec5ec/minimal=true/transparent=true/" seamless><a href="http://jessefarber.bandcamp.com/album/howwhatwhy">HOWWHATWHY by CEPH</a></iframe> %>
      <div class="img-fluid">
        <%= image_tag 'front-low.jpg' %>
      </div>
    </div>
  </div>
  
  <br /><br /><br />

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ RchIVaL ∎</h1>
      <br />
    </div>
  </div>

  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>
        RNL sound and visual archives reach back to the early 1990s. In addition 
        to the new releases, older works will soon be available for listening 
        to from VONCONFLON. All material is previously unreleased. Forthcoming 
        titles include <em>RNL LIVE 4-19-92</em>, <em>GEORGE III’S LATER YEARS</em>, 
        and <em>#4: DECISION MAKING</em>. More info and downloads coming soon...
      </p>
      <br /><br />
      <div class="img-fluid">
        <%= image_tag 'cover.jpg' %>
      </div>
    </div>
  </div>

  <br /><br /><br />

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ RNL ZINE ∎</h1>
      <br /><br />
    </div>
  </div>

  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>
        The <em>RNL</em> zine is a current visual and text project, incomplete
        for the time being. A periodic multimedia anthology with a variable
        philosophy. In each installment, RNL expands its three ciphers into a 
        new platform for the development of meaning. A temporarily assumed
        identity decides the thematic direction for each phase.
      </p>
      <hr class="lightline" />
      <p>Here you will find previews of each issue as they become available. Ordering details and additional information will be posted shortly.<br />
      </p>
    </div>
  </div>

  <br /><br />

  <% @rnl_issues.each do |issue| %>
    <div class="rnl-issue">
      <div class="row">
        <div class="col-md-4 pull-left rnl rnl-title">
          <h5>ISSUE <%= "#{issue.issue_number}: #{issue.title}" %></h5>
        </div>
        <div class="col-md-8 text-center rnl rnl-title">
          <h5>You may preview this issue’s full introductory manifesto <%= link_to 'here', '#', 'data-mfp-src': "#description-popup", class: 'open-popup-link' %>.</h5>
          <div id="description-popup" class="description-popup mfp-hide">
            <p><%= issue.description.html_safe %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pull-left rnl rnl-cover">
          <div class="img-fluid">
            <%= image_tag issue.cover_image %>
          </div>
        </div>
        <div class="col-md-8 pull-right rnl rnl-pages">        
          <div class="img-fluid">
           <!--  <p><%= issue.description.html_safe %></p> -->
            <span class="rnl-background"><%= image_tag issue.background_image %></span>
          </div>
        </div>
      </div>
    </div>
    <br />
  <% end %>
  <br />
</div>

<script>
$(document).ready(function() {
  $('.open-popup-link').magnificPopup({
    type:'inline',
    // Delay in milliseconds before popup is removed
    removalDelay: 300,

    // Class that is added to popup wrapper and background
    // make it unique to apply your CSS animations just to this exact popup
    mainClass: 'mfp-fade',
    // main options
    showCloseBtn: false,
    closeOnContentClick: true,
    midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });
});

</script>