<% provide(:title, "5D") %>

<div class="container artist-container">
  <br />
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ RNL ∎</h1>
      <br />
    </div>
  </div>

  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>
        RNL is an openly collaborative and solo project for experimental sound, 
        art, and ideas. Started in the early 1990s, it initially focused on tape 
        experiments, collage flyers, and performative actions. This was hardly 
        thought of as “art” at the time&#151;they were simply weird and 
        interesting things to do. Little of the work was shared outside of the 
        handful of group members, some of whom never met each other, or even 
        realized they had participated.
        <br /><br />
        This model of open collaboration continues up to the present day with
        <em>Conquering King Kong</em>, RNL’s first publicly available release. 
      </p>
    </div>
  </div>

  <br /><br /><br />

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ CURRENT ∎</h1>
      <br />
    </div>
  </div>
  

  <%# <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>LINK COMING SOON...
      </p>
    </div>
  </div> %>
  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>
        <em>Conquering King Kong</em> is a 45-minute trail through mental states and thought patterns, an abstract audio film that unspools with the logic of a dream.<br /><br />
        Woven together from a massive archive of tapes, the album builds ambient spaces and puzzling sound objects out of location recordings, found sounds, private performances, and endless analog and digital manipulation.
      </p>
      <br /><br />
    </div>
  </div>
</div>

<div class="row justify-content-center iframe-holder">
  <iframe style="border: 0; width: 400px; height: 680px;" src="https://bandcamp.com/EmbeddedPlayer/album=4201764227/size=large/bgcol=333333/linkcol=4ec5ec/package=2433261434/transparent=true/" seamless><a href="http://r-n-l.bandcamp.com/album/conquering-king-kong">Conquering King Kong by RNL</a></iframe>
</div>
<div class="container artist-container">  
  <br /><br /><br />

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ RchIVaL ∎</h1>
      <br />
    </div>
  </div>

  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>
        RNL sound and visual archives reach back to the early 1990s. In addition 
        to the new releases, older works will soon be available for listening 
        to from VONCONFLON. This material is all previously unreleased. Forthcoming 
        titles include <em>RNL LIVE 4-19-92</em>, <em>GEORGE III’S LATER YEARS</em>, 
        and <em>#4: DECISION MAKING</em>. More info and downloads coming soon...
      </p>
      <br /><br />
      <div class="img-fluid">
        <%= image_tag 'cover.jpg' %>
      </div>
    </div>
  </div>

  <br /><br /><br />

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ RNL ZINE ∎</h1>
      <br /><br />
    </div>
  </div>

  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>
        The <em>RNL</em> zine is a current visual and text project, incomplete
        for the time being. A periodic multimedia anthology with a variable
        philosophy. In each installment, RNL expands its three ciphers into a 
        new platform for the development of meaning. A temporarily assumed
        identity decides the thematic direction for each phase.
      </p>
      <hr class="lightline" />
      <p>Here you will find previews of each issue as they become available. 
      Ordering details hopefully available soon.<br />
      </p>
    </div>
  </div>

  <br /><br />

  <% @rnl_issues.each do |issue| %>
    <div class="rnl-issue">
      <div class="row">
        <div class="col-md-4 pull-left rnl rnl-title">
          <h5>ISSUE <%= "#{issue.issue_number}: #{issue.title}" %></h5>
        </div>
        <div class="col-md-8 text-center rnl rnl-title">
          <h5>You may preview this issue’s full introductory manifesto <%= link_to 'here', '#', 'data-mfp-src': "#description-popup", class: 'open-popup-link' %>.</h5>
          <div id="description-popup" class="description-popup mfp-hide">
            <p><%= issue.description.html_safe %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pull-left rnl rnl-cover">
          <div class="img-fluid">
            <%= image_tag issue.cover_image %>
          </div>
        </div>
        <div class="col-md-8 pull-right rnl rnl-pages">        
          <div class="img-fluid">
           <!--  <p><%= issue.description.html_safe %></p> -->
            <span class="rnl-background"><%= image_tag issue.background_image %></span>
          </div>
        </div>
      </div>
    </div>
    <br />
  <% end %>
  <br />
</div>

<script>
$(document).ready(function() {
  $('.open-popup-link').magnificPopup({
    type:'inline',
    // Delay in milliseconds before popup is removed
    removalDelay: 300,

    // Class that is added to popup wrapper and background
    // make it unique to apply your CSS animations just to this exact popup
    mainClass: 'mfp-fade',
    // main options
    showCloseBtn: false,
    closeOnContentClick: true,
    midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });
});

</script>