<div class="container">
  <br />
  <div class="row align-items-center">
    <div class="col">
      <h1>Manage RNL Issues</h1>
    </div>
    <div class="col col-sm-3">
      <%= link_to 'Post a new issue', new_admin_rnl_issue_path, class: 'btn btn-primary float-sm-right' %>
    </div>
  </div>
  <hr />
  <div class="row-align-items-start">
    <% @rnl_issues.each do |issue| %>
      <div class="col-lg-12">
        <%= issue.issue_number %>
        <br />
        <%= issue.title %>
        <br />
        <%= issue.description %>
        <br />
        <%= image_tag issue.cover_image %>
        <br />
        <%= image_tag issue.background_image %>
        <br class="clear" />
        <%= link_to edit_admin_rnl_issue_path(issue), class: 'btn btn-warning float-left' do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to admin_rnl_issue_path(issue), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger float-right' do %>
          <i class="fa fa-remove"></i>
        <% end %>
      </div>
      <br class="clear"/>
      <br />
    <% end %>
  </div>
</div>