<div class="container">
  <br />
  <h1>Upload RNL Issue Info</h1>
  <br />
  <%= simple_form_for @rnl_issue, url: admin_rnl_issues_path do |f| %>
    <%= f.input :issue_number %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :cover_image %>
    <%= f.input :background_image %>
    <br />
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <br />
    <% end %>
</div>