<% provide(:title, "Admin Manage Works") %>

<div class="container">
  <br />
  <div class="row align-items-center">
    <div class="col">
      <h1>Manage Works</h1>
    </div>
    <div class="col col-sm-3">
      <%= link_to 'Post a new work', new_admin_work_path, class: 'btn btn-primary float-sm-right' %>
    </div>
  </div>
  <hr />
  <h2>2D WORKS</h2>
  <div class="row-align-items-start">
    <div class="two-d">
      <% @works.two_d.rank(:row_order).each do |work| %>
        <br />
        <div class="col-lg-4 two-d-work" data-update-url=<%= admin_work_path(work) %>>
          <%= image_tag work.image, class: 'img-fluid' %>
          <%= work.title %>, <%= work.year.year %>
          <br />
          <%= work.medium %>
          <br />
          <%= work.dimensions %>
          <br class="clear" />
          <%= link_to edit_admin_work_path(work), class: 'btn btn-warning' do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to admin_work_path(work), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' do %>
            <i class="fa fa-remove"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br />
  <h2>3D WORKS</h2>
  <div class="row-align-items-start">
    <div class="three-d">
      <% @works.three_d.rank(:row_order).each do |work| %>
        <br />
        <div class="col-lg-4 three-d-work" data-update-url=<%= admin_work_path(work) %>>
          <%= image_tag work.image, class: 'img-fluid' %>
          <br class="clear" />
          <%= work.title %>, <%= work.year.year %>
          <br />
          <%= work.medium %>
          <br />
          <%= work.dimensions %>
          <br class="clear" />
          <%= link_to edit_admin_work_path(work), class: 'btn btn-warning' do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to admin_work_path(work), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' do %>
            <i class="fa fa-remove"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.two-d').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { work: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
  $(function() {
    $('.three-d').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { work: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>