<% provide(:title, "Admin Manage Works") %>

<div class="container">
  <br />
  <div class="row align-items-center">
    <div class="col">
      <h5>Manage Works</h5>
    </div>
    <div class="col col-sm-3">
      <%= link_to 'Post a new work', new_admin_work_path, class: 'btn btn-primary float-right' %>
    </div>
  </div>
  <hr class="clear"/>
  <h5 class="text-center">2D Works</h5>
  <br />
  <div class="row align-items-start">
    <% @works.two_d.rank(:row_order).each do |work| %>
      <div class="col-sm-3 works-card works" data-update-url=<%= admin_work_path(work) %>>
        <%= image_tag work.image, class: 'img-thumbnail' %>
        <hr />
        <p><%= work.title %>, <%= work.year.year %></p>
        <p><%= work.medium %></p>
        <p><%= work.dimensions %></p>
        <hr />
        <br />
        <div class="edit-del-buttons">
          <%= link_to edit_admin_work_path(work), class: 'btn btn-warning' do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to admin_work_path(work), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' do %>
            <i class="fa fa-remove"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br />
  <hr />
  <h5 class="text-center">3D Works</h5>
  <br />
  <div class="row align-items-start">
    <% @works.three_d.rank(:row_order).each do |work| %>
      <div class="col-sm-3 works-card works" data-update-url=<%= admin_work_path(work) %>>
        <%= image_tag work.image, class: 'img-thumbnail' %>
        <hr />
        <p><%= work.title %>, <%= work.year.year %></p>
        <p><%= work.medium %></p>
        <p><%= work.dimensions %></p>
        <hr />
        <br />
        <div class="edit-del-buttons">
          <%= link_to edit_admin_work_path(work), class: 'btn btn-warning' do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to admin_work_path(work), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' do %>
            <i class="fa fa-remove"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>

<script>
  $(function() {
    $('.two-d').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { work: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
  $(function() {
    $('.three-d').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { work: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>