<div class="container">
  <br />
  <div class="row align-items-center">
    <div class="col">
      <h1>Manage News Posts</h1>
    </div>
    <div class="col col-sm-3">
      <%= link_to 'Post a new news item', new_admin_news_item_path, class: 'btn btn-primary float-sm-right' %>
    </div>
  </div>
  <hr />
  <div class="row-align-items-start">
    <% @news_items.each do |item| %>
      <div class="col-lg-12">
        <%= item.headline %>
        <br />
        <%= item.content %>
        <br class="clear" />
        <%= link_to edit_admin_news_item_path(item), class: 'btn btn-warning float-left' do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to admin_news_item_path(item), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger float-right' do %>
          <i class="fa fa-remove"></i>
        <% end %>
      </div>
      <br class="clear"/>
      <br />
    <% end %>
  </div>
</div>