<!DOCTYPE html>
<html>
  <head>
    <!-- <link 
      rel="stylesheet" 
      href="prism-atom-dark.scss" 
      type="text/css" 
      media="screen" 
    /> -->
    <%= favicon_link_tag 'favicon.ico' %>
      <% if yield(:title).present? %>
        <title><%= yield(:title) %> | Jesse Farber</title>
      <% else %>
        <title>Jesse Farber</title>
      <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jesse Farber is an artist working with visual and audio montage.">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-105389268-1', 'auto');
      </script>
    <% end %>
  </head>

  <body>
    <div id="flex-content-container" class="<%= 'flex-home' unless nopic_bg_pages?(controller_path) %>">
      <% if controller_path.include?('artist') %>
        <%= render 'partials/artist_navbar' %>
      <% elsif controller_path.include?('developer') %>
        <%= render 'partials/developer_navbar' %>
      <% elsif controller_path.include?('admin') %>
        <%= render 'partials/admin_dashboard_navbar' %>
      <% end %>

      <% if notice.present? %>
          <p class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <%= notice %>
          </p>
      <% end %>
      <% if alert.present? %>
          <p class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <%= alert %>
          </p>
      <% end %>

      <%= yield %>
    </div>
<% if controller_path.include?('admin') || controller_path.include?('artist') %>
  <div id="footer">
    <div class="container">
      <ul class="navbar-nav mr-auto mt-2">
        <!-- <li class="nav-item active">
          <%= link_to 'mailto:jesse@jessefarber.com', class: "nav-link" do %>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <% end %>
        </li> -->
        <li class="nav-item active">
        <%= link_to 'http://www.instagram.com/jesse.farber/', class: "nav-link" do %>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to 'http://r-n-l.bandcamp.com/', class: "nav-link" do %>
            <i class="fa fa-bandcamp" aria-hidden="true"></i>
          <% end %>
          </li>
        <li class="nav-item active">
        <%= link_to 'http://www.etsy.com/shop/VONCONFLON', class: "nav-link" do %>
          <i class="fa fa-etsy" style="font-size: 90%" aria-hidden="true"></i>
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto mt-2">
        <li class="nav-item active" id="mc-embed-li">
          <!-- Begin Mailchimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="https://jessefarber.us14.list-manage.com/subscribe/post?u=fdf1093cf0fcf0af5fd545ccc&amp;id=d581ff8fe9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
              <label for="mce-EMAIL">Subscribe to the newsletter  
          </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
          </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fdf1093cf0fcf0af5fd545ccc_d581ff8fe9" tabindex="-1" value=""></div>
                  <div class="optionalParent">
                      <div class="clear foot">
                          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                      </div>
                  </div>
              </div>
          </form>
          </div>
          <!--End mc_embed_signup-->
        </li>
      </ul>
    </div>
  </div>
  <% elsif controller.action_name == "home" %>
    <div id="footer">
      <div class="container">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <%= link_to 'mailto:jesse@jessefarber.com', class: "nav-link" do %>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <% end %>
          </li>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
<% end %>
  </body>
</html>

